<appSettings>
  <add key="FacebookAppId" value="441704526606576"/>
  <add key="FacebookAppSecret" value="9ec7da119f8c918ea9d45c5b86fd7751"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>